/閸ャ垼鍠樼純?host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Application.pdb
/閸ャ垼鍠樼純?test/Sport7.CMS.TestBase/obj/Debug/netcoreapp2.2
test
*.dll
mp-weixin
*.cache
De/閸ャ垼鍠樼純?test/Sport7.CMS.TestBase/obj/Debug/
De/閸ャ垼鍠樼純?test/Sport7.CMS/v16/Server
De/閸ャ垼鍠樼純?test/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/
De/閸ャ垼鍠樼純?test/Sport7.CMS.Host/Logs/logs.txt
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Application.pdb
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Application.dll
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Application.pdb
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Domain.dll
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Domain.pdb
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.EntityFrameworkCore.dll
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.EntityFrameworkCore.pdb
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Host.dll
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.Host.pdb
/团购网/host/Sport7.CMS.Host/bin/Debug/netcoreapp2.2/Sport7.CMS.HttpApi.dll
